<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>138167343535-ef5dq76fahrpn5i012tm79jla467q2jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138167343535-ef5dq76fahrpn5i012tm79jla467q2jj</string>
	<key>API_KEY</key>
	<string>AIzaSyDx0azd60Vx7oZHy5tqI_UZp8VvG6wKnHo</string>
	<key>GCM_SENDER_ID</key>
	<string>138167343535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fm.sharecast.Podcast</string>
	<key>PROJECT_ID</key>
	<string>sharecast-6d6ca</string>
	<key>STORAGE_BUCKET</key>
	<string>sharecast-6d6ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138167343535:ios:e8ce61ec5d1f230c</string>
	<key>DATABASE_URL</key>
	<string>https://sharecast-6d6ca.firebaseio.com</string>
</dict>
</plist>